

@font-face {
  font-family: 'MinaSans';
  src: url('/fonts/Mina-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MinaSans';
  src: url('/fonts/Mina-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MinaSans", sans-serif;
  overflow-x: hidden;
  background-color: #e4e4e4;
}
